
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #262626;
    --button-color: #a0a0a0;
    --button-color-hover: #7a7a7a;
    --button-color-active: #4e4e4e;
    --screen-backlight: #c3c3c2;
    --operation-button-color: #6c6c6c;
    --operation-button-color-hover: #525252; /* noice */
    --operation-button-color-active: #3b3b3b;
    --evaluate-button: #07d8f8;
    --evaluate-button-hover: #06b2cc;
    --evaluate-button-active: #0591a6;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.calc-body {
    min-width: 320px;
    max-width: 320px;
    min-height: 70vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    gap: 15px;
    background-color: var(--body-color);
    border-radius: 3px;
    
}

.calc-text-container {
    display: flex;
    width: 100%;
    font-size: 32px;
    font-weight: 800;
}

.calc-brand {
    margin-right: auto;
}

.calc-screen {
    width: 100%;
    height: 25vh;
    border: 2px solid black;
    background-color: var(--screen-backlight);
    display: flex;
    flex-flow: column nowrap;
}

.current-number-container {
    max-width: 100%;
    font-size: min(15px, 24px);
    display: flex;
    justify-content: flex-end;
}

.number-history {
    align-self: flex-end;
}

.screen {
    margin-top: auto;
    display: flex;
    flex-flow: column wrap;
}

.calc-buttons-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    gap: 2px;
}

.calc-button {
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--button-color);
}

.calc-button:hover {
    background-color: var(--button-color-hover);
}

.calc-button:active {
    background-color: var(--button-color-active);
}

.operation-button-container > div {
    background-color: var(--operation-button-color);
}

.operation-button-container > div:hover {
    background-color: var(--operation-button-color-hover);
}

.operation-button-container > div:active {
    background-color: var(--operation-button-color-active);
}

#evaluate { /* unique color of "=" button */
    background-color: var(--evaluate-button);
}

#evaluate:hover {
    background-color: var(--evaluate-button-hover);
}

#evaluate:active {
    background-color: var(--evaluate-button-active);
}



.top {
    display: flex;
    /* background-color: green; */
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2px;
}

.top-row, .bottom-row {
    display: flex;
    gap: 2px;
}

.top-row > span, .bottom-row > span {
    display: flex;
    gap: 2px;
}

.bottom {
    width: 100%;
    height: 100%;
    /* background-color: magenta; */
    display: flex;
}

.numbers-buttons {
    display: flex;
    flex-flow: row wrap;
    /* background-color: aliceblue; */
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 2px;
}

.numbers-buttons > span {
    display: flex;
    gap: 2px;
}

.right .calc-button:hover {
    background-color: var(--button-color-hover);
}

.right .calc-button:active {
    background-color: var(--button-color-active);
}

